### Node.js ###
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

### TypeScript ###
*.tsbuildinfo

### Build output ###
dist/
out/
build/

### Environment variables ###
.env
.env.local

### Logs ###
logs/
*.log

### Database ###
*.sqlite
*.sqlite3
db.sqlite
db.sqlite3
*.db
*.db-wal
*.db-shm

### TypeORM ###
ormconfig.json
ormconfig.js
ormconfig.ts

### Editor/IDE ###
.vscode/
.idea/
.DS_Store

### Misc ###
coverage/
.nyc_output/
temp/
serviceAccountKey.json

